<!doctype html>
<html lang=en>
<head>
    {% block head %}
    <meta charset=utf-8>
    <title>Presence analyzer</title>
    <meta name="keywords" content="" />
    <meta name="description" content=""/>
    <meta name="author" content="STX Next sp. z o.o. (JK)"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <link href="/static/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/static/css/main.css" media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">{% block script %}{% endblock %}</script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    {% endblock %}
</head>

{% set active_menu_item = active_menu_item|default(0) %}

<body>
    <div id="main">
        <div id="header">
            <h1>Presence analyzer</h1>
            {% include "menu.html" %}
        </div>
        <div id="content">
            {% include "content.html" %}
        </div>
    </div>


</body>
</html>
